{
   'parser': 'babel-eslint',
   'env': {
   'browser': true,
   'node': true
   },
   'plugins': [
      'react'
   ],
   'rules': {
      'brace-style': [2, 'stroustrup', { 'allowSingleLine': true }]
   }
}
